AppData/Local/Application Data/
AppData/Local/History/
AppData/Local/Microsoft/Windows/INetCache/Content.IE5/
AppData/Local/Microsoft/Windows/INetCache/Low/Content.IE5/
AppData/Local/Microsoft/Windows/Temporary Internet Files/
