#header {
  background: #FDFAF6;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.092);
  z-index: 997;
  padding: 5px 0;
  position:fixed;
  cursor:default;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #4c4a4a;
}

#header .logo img {
  margin-left: 0;

  max-height: 100px;
  margin-bottom: 30;
}

body {
  padding-top: 130px;
  padding-right:10px;
  font-family: "Trirong", serif;
  color: #273d2f;
  margin: 0;
  min-height: 100%;
  background-blend-mode:hard-light;
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100%;
  background-color: #FDFAF6;  
  cursor:default;
}

#footer {
  width: 100%;
  background: #FDFAF6;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.055);
  padding: 30px 0;
  color: #273d2f;
  font-size: 14px;
  text-align: center;
  position:absolute;
  cursor:default;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #64666ee9;
}

/*
MAIN PAGE
*/

#recipe_image {
position: relative;
object-fit: cover;
height: 500px;
width: 180px;
}

#likes {
background-color: #06442080;
position: absolute;
bottom: 5px;
left: 18px;
border-radius: 15px;
}

.like_button{
height: 50px;
color: #FDFAF6;
}

.like_button:hover{
height: 50px;
color: rgb(224, 37, 68);
}

.like-counter {
position: relative;
font-size: 20px;
color: #FDFAF6;
}

#filters{
  background-color: #E4EFE7;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter{
  width: 200px;
}



/**
* Desktop Navigation 
*/
.navbar {
padding: 0;
}
.navbar ul {
margin-top:8%;
padding: 0;
display: flex;
list-style: none;

}



.navbar ul li  {
margin-right:20px;


}

.navbar ul li a {
text-decoration: none;
}


.navbar a, .navbar a:focus {
  display: flex;
  justify-content: space-between;
  font-family: "Trirong", serif;

  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color:  #064420;
  white-space: nowrap;
  transition: 0.3s;
  
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #064420;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #064420;
}

.navbar a, .navbar a:focus {
display: flex;
justify-content: space-between;
font-family: "Trirong", serif;

text-transform: uppercase;
font-size: 13px;
font-weight: 400;
color:  #064420;
white-space: nowrap;
transition: 0.3s;
position: relative;
}

.navbar a i, .navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}

.navbar > ul > li > a:before {
content: "";
position: absolute;
width: 0;
height: 1px;
bottom: -5px;
left: 0;
background-color: #064420;
visibility: hidden;
width: 0px;
transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
visibility: visible;
width: 25px;
}

.navbar_button {
margin: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
color: #064420;
}
.navbar .dropdown ul {
display: block;
position: absolute;
left: 14px;
top: calc(100% + 30px);
margin: 0;
padding: 10px 0;
z-index: 99;
opacity: 0;
visibility: hidden;
background: #FDFAF6;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
transition: 0.3s;
border-radius: 4px;
}

.navbar .dropdown ul li {
min-width: 200px;
padding: 0;
}
.navbar .dropdown ul a {
padding: 10px 20px;
font-size: 15px;
text-transform: none;
font-weight: 600;
}
.navbar .dropdown ul a i {
font-size: 12px;
}

.navbar .dropdown > ul > li > a:before {
content: "";
position: absolute;
width: 0;
margin-left:20px;
height: 2px;
bottom: -2px;
left: 0;
background-color: #6a998a;
visibility: hidden;
width: 0px;
transition: all 0.3s ease-in-out 0s;
}


.navbar .dropdown a:hover:before, .navbar .dropdown li:hover > a:before, .navbar .dropdown .active:before {
visibility: visible;
width: 25px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
color: #aedfd9;
}
.navbar .dropdown:hover > ul {
opacity: 1;
top: 100%;
visibility: visible;
}

.navbar .dropdown .dropdown ul {
left: -90%;
}
.navbar .dropdown .dropdown:hover > ul {
opacity: 1;
top: 0;
left: 100%;
visibility: visible;
}

 h1 {
font-family: "Trirong", serif;

color:  #064420;
font-size: 30px;
text-align: center;

}
.create_recipe {
margin-bottom: 100px;
}


.create_recipe select {
background-color: #064420;
color: #E4EFE7;
padding-left: 10px;
margin-right: 20px;
font-size: 16px;
font-family: "Trirong", serif;
border-radius: 20;

}

.create_recipe .select-items{
background-color: #E4EFE7;
color:#064420;
}

select::-webkit-scrollbar {
width: 8px;
background: #064420;
color: #E4EFE7;
border-radius: 0 8px 8px 0;
}

select::-webkit-scrollbar-thumb {
background: #064420;
color: #E4EFE7;
border-radius: 0 8px 8px 0;
}


.viewRecipeTop p1,p3,p7,p9 {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  color:#064420;


 }

 
 

 #search_bar  i,input {
  color:#064420;
  border:#064420;
 }
 #search_bar {
  border-color:#064420;
 }

 #search_bar  input {
  color:#064420;
  border:#064420;
  border:10px;
  padding-left:10px;
  border-radius:10px;
  background-color: #E4EFE7;
 } 

 #search_bar input:hover {
  background-color:#E4EFE7;
  border-color: #E4EFE7;
  color: #064420;

}



 .prepRecipeSteps pl0 {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  color:#064420;


 }

 .comment_section pl1 {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  color:#064420;

 }


.create_recipe label,p {
font-family: "Trirong", serif;
font-size: 20px;
font-weight: 400;
font-style: italic;
color:#064420;
}

.add_image {
margin-top: 30px;
}

.create_recipe p,form {
text-align: center;
}


.recipe_form form { 
margin: 0 auto; 
width:300px;
}

@media (max-width: 1366px) {
.navbar .dropdown .dropdown ul {
  left: -90%;
}
.navbar .dropdown .dropdown:hover > ul {
  left: -100%;
}
}


.back-to-top {
position: fixed;
visibility: hidden;
opacity: 0;
right: 15px;
bottom: 30px;
z-index: 996;
width: 40px;
height: 40px;
border-radius: 50px;
transition: all 0.4s;
}
.back-to-top i {
font-size: 30px;
color: #232425;
line-height: 0;
}
.back-to-top:hover {
background: #d7d5d5;
color: #FDFAF6;
}
.back-to-top.active {
visibility: visible;
opacity: 1;
}


#btn,button:hover {
background-color:#E4EFE7;
border-color: #E4EFE7;
color: #064420;

}

.viewRecipeTop p1,p3,p7,p9 {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  color:#064420;


 }

 .prepRecipeSteps pl0 {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  color:#064420;


 }

 .comment_section pl1 {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  color:#064420;

 }


.create_recipe label,p {
  font-family: "Trirong", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color:#064420;
}

.food_row_maker {
justify-content: center;
vertical-align: middle;
text-align: center;
align-items: center;
}

.food_div {
background-color: white;
max-width: 200px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 30px;
}


select:hover {
color: #064420;
background: #E4EFE7;
border-color: #E4EFE7;
} 

#btn,button:focus {
outline-color: transparent;
outline-style:solid;
box-shadow: 0 0 0 3px #b7dec1;

}

select:focus {
outline-color: transparent;
outline-style:solid;
box-shadow: 0 0 0 3px #b7dec1;

}


#btn,button {
/* margin-top: 15px; */
float:right;

padding-right: 10px ;
padding-left:10px;
padding-bottom:10px;
border-radius: 5px;
height:30px;
width: auto;
background: #064420;
color: #E4EFE7;
font-size: 18px;

}


/* The container must be positioned relative: */
.custom-select {
position: relative;
font-family: Arial;
}




/* Style the arrow inside the select element: */
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
color: #064420;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: #E4EFE7;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}